@import '~style/deviceSize.less';

.location-form {
  margin: 20px 40px;

  @media @mobile {
    & {
      margin: 10px;
    }
  }

  .error-message {
    color: red;
    font-size: 14px;
    display: hidden;
  }

  .error .error-message {
    display: block;
  }
}
